%ASSEMBLY_NAME%=ToDoListFinal
%SHORT_NAME%=ToDoListFinal
%RAKE_TASK_PREFIX%=todolistfinal
%FUBU_REGISTRY%=ToDoListFinalFubuRegistry
%APPLICATION_SOURCE%=ToDoListFinalApplication
%STRUCTUREMAP_REGISTRY%=ToDoListFinalRegistry
%PROJECT_PATH%=src/ToDoListFinal/ToDoListFinal.csproj
%PROJECT_FOLDER%=src/ToDoListFinal
